<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortly - Auth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="card">
        <h1>Create Account</h1>
        {% if error %}
        <p style="color: #EF4444; font-size: 13px; margin-bottom: 2px;">{{ error }}</p>
        {% endif %}
        <p class="sub">Already have one?<a href="{{ url_for('login') }}">Login</a></p>
        <form action="{{ url_for('signup')}}" method="POST">
            <label>Username</label>
            <input type="text" name="username" id="username">
            <label>Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Create Account</button>
        </form>
    </div>
</body>
</html>